{% extends "base.html" %}

{% block page_title %} Estufas {% endblock page_title %}

{% block content %}
    {% if estufa_list %}
    <table class="table">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Nome Estufa</th>
          <th scope="col">Área</th>
          <th scope="col">Fazenda</th>
          <th scope="col">Ativo</th>
          <th scope="col">Ações</th>
        </tr>
      </thead>
      <tbody>
        {% for estufa in estufa_list %}
        <tr>
          <th scope="row">{{ estufa.pk }}</th>
          <td>{{ estufa.nome_estufa }}</td>
          <td>{{ estufa.area }}</td>
          <td>{{ estufa.Fazenda }}</td>
          <td>
            <input type="checkbox" {% if estufa.ativo %}checked{% endif %} onclick="location.href='{% url 'estufa_toggle_active' pk=estufa.pk %}'">
          </td>
          <td>
            <a href="{% url 'estufa_update' pk=estufa.pk %}"
               class="btn btn-secondary btn-sm {% if estufa.data_aplicada %}disabled{% endif %}"
            >
              Editar
            </a>
            <a href="{% url 'estufa_delete' pk=estufa.pk %}" class="btn btn-danger btn-sm">Excluír</a>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    {% else %}
    <p>Não há tarefas cadastradas</p>
    {% endif %}
    <a href="{% url "estufa_create"%}" class="btn btn-primary btn-sm"> Cadastrar Estufa</a>
    {% endblock content %}
    