<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Estufas</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <nav class="navbar bg-dark" data-bs-theme="dark">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">Estufas</a>
      </div>
    </nav>
    {% if estufa_list %}
    <table class="table">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Nome Estufa</th>
          <th scope="col">Área</th>
          <th scope="col">Fazenda</th>
          <th scope="col">Ações</th>
        </tr>
      </thead>
      <tbody>
        {% for estufa in estufa_list %}
        <tr>
          <th scope="row">{{ estufa.pk }}</th>
          <td>{{ estufa.nome_estufa }}</td>
          <td>{{ estufa.area }}</td>
          <td>{{ estufa.Fazenda }}</td>
          <td>
            <a
              class="btn btn-secondary btn-sm {% if estufa.finished_at %}disabled{% endif %}"
            >
              Editar
            </a>
            <a class="btn btn-danger btn-sm">Excluír</a>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    {% else %}
    <p>Não há tarefas cadastradas</p>
    {% endif %}
    <a href="{% url "estufa_create"%}" class="btn btn-primary btn-sm"> Cadastrar Estufa</a>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
