{% extends "base.html" %}

{% block page_title %} Histórico {% endblock page_title %}

{% block content %}
    <form method="get" action="{% url 'ficha_filtro' %}" >
        <label for="data_filter">Filtrar por Data:</label>
        <input type="date" id="data_filter" name="data_filter">

        <label for="atividade_filter">Filtrar por Atividade:</label>
        <select id="atividade_filter" name="atividade_filter">
            <option value="" selected>Selecione uma Atividade</option>
            {% for atividade in atividades %}
                <option value="{{ atividade.id }}">{{ atividade.nome }}</option>
            {% endfor %}
        </select>

        <label for="estufa_filter">Filtrar por Estufa:</label>
        <select id="estufa_filter" name="estufa_filter">
            <option value="" selected>Selecione uma Estufa</option>
            {% for estufa in estufas %}
                <option value="{{ estufa.id }}">{{ estufa.nome_estufa }}</option>
            {% endfor %}
        </select>

        <button type="submit" class="btn btn-primary btn-sm">Filtrar</button>
    </form>
    {% if fichadeaplicacao_list %}
    <table class="table">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Estufa</th>
          <th scope="col">Atividade</th>
          <th scope="col">Irrigador</th>
          <th scope="col">Data de Planejamento</th>
          <th scope="col">Data de Aplicação</th>
          <th scope="col">Ativo</th> 
          <th scope="col">Ações</th>
        </tr>
      </thead>
      <tbody>
        {% for ficha in fichadeaplicacao_list %}
        <tr>
          <th scope="row">{{ ficha.pk }}</th>
          <td>{{ ficha.estufa.nome_estufa }}</td>
          <td>{{ ficha.atividade.nome }}</td>
          <td>{{ ficha.irrigador.nome_tipo }}</td>
          <td>{{ ficha.data_planejada }}</td>
          <td>{{ ficha.data_aplicada }}</td>
          <td>
            <input type="checkbox" {% if ficha.ativo %}checked{% endif %} onclick="location.href='{% url 'ficha_toggle_active' pk=ficha.pk %}'">
          </td>
          <td>
            <a href="{% url 'ficha_update' pk=ficha.pk %}"
               class="btn btn-secondary btn-sm {% if ficha.data_aplicada %}{% endif %}"
            >
              Editar
            </a>
            <a href="{% url 'atividade_delete' pk=ficha.pk %}" class="btn btn-danger btn-sm">Excluír</a>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    {% else %}
    <p>Não há fichas cadastradas</p>
    {% endif %}
    <a href="{% url "home_page"%}" class="btn btn-primary btn-sm"> Cadastrar Ficha</a>
    {% endblock content %}
    