{% extends "base.html" %} {% load static %}
{% block content %} {% load tz %} 
    <style>
      /* Exemplo de estilo básico, personalize conforme necessário */
      body {
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 0;
      }

      .cabecalho {
        display: flex;
        justify-content: space-between;
        align-items: center;
      }

      .logo-container {
          display: flex;
          align-items: center;
      }

      .logo {
          max-width: 100px;  /* Ajuste conforme necessário */
          margin-right: 10px;  /* Espaço entre o logo e o texto "Controle de aplicações" */
      }
      
      .info-container {
          margin-top: 20px;
          display: flex;
          flex-direction: column;  /* Empilhe os elementos verticalmente */
          align-items: center;
      }

      .numero-recomendacao,
      .data-operacao {
          margin-bottom: 5px;  /* Adicione um espaçamento entre os parágrafos */
      }
      p {
          margin: 0;  /* Remova a margem padrão dos parágrafos para evitar espaços indesejados */
      }

      .campo-selecao {
        margin-top: 5px;
      }
      table {
            width: 100%;
            border-collapse: collapse;
            margin-top: 20px;
        }

        th, td {
            border: 1px solid black;
            padding: 8px;
            text-align: center;
        }

        th {
            background-color: #f2f2f2;
        }
    </style>
  </head>
  <body>
    <div class="cabecalho">
        <!-- Logo da empresa -->
        <div class="logo-container">
          <img src="{% static '/todos/images/Yui.jpg' %}" alt="Logo da Empresa" class="logo">
            <h1>Controle de aplicações</h1>
        </div>

        <!-- Número da relação e data da operação -->
        <div class="info-container">
          <div class="numero-recomendacao">
              <p>Número da Recomendação: {{ ficha.pk }}</p>
          </div>
          <div class="data-operacao">
              <p>Data da Operação: {% now 'd/m/Y H:i' %}</p>
          </div>
      ' </div>
    </div>
    <form method="PUT">
      {% csrf_token %}
      <div>
        <a>Atividade: 
          <select class="campo-selecao", id="id_atividade">
            <option value={{ ficha.atividade.pk }}>{{ficha.atividade.nome}}</option>
            {% for atividade in atividades %}
              {% if atividade.pk != ficha.atividade.pk %}
                <option value={{ atividade.pk }}>{{ atividade.nome }}</option>
              {% endif %}
            {% endfor %}
          </select>
          <a>Data de Planejamento<input type="date" id="data1" value="{{ ficha.data_planejada|date:'Y-m-d' }}"></a>
        </a>
      </div>
      <div>
        <a> Estufa: 
          <select class="campo-selecao", id="id_estufa">
            <option value={{ ficha.estufa.pk }}>{{ ficha.estufa.nome_estufa}}</option>
            {% for estufa in estufas %}
              {% if estufa.pk != ficha.estufa.pk %}
                <option value={{ estufa.pk }}>{{ estufa.nome_estufa }}</option>
              {% endif %}
            {% endfor %}
          </select>
          <a>Área: <input type="numeric" id="id_area" name="area" value="{{ ficha.area }}">
          </a>
        </a>
      </div>
      <div>
        <p> Irrigador: 
          <select class="campo-selecao", id="id_tipo_irrigador">
            <option value={{ ficha.irrigador.pk }}>{{ ficha.irrigador.nome_tipo}}</option>
            {% for tipo_irrigador in tipos_irrigador %}
              {% if tipo_irrigador.pk != ficha.atividade.pk%}
                <option value={{ tipo_irrigador.pk }}>{{ tipo_irrigador.nome_tipo }}</option>
              {% endif %} 
            {% endfor %}
          </select>
          <a>Data da Aplicação<input type="date" id="data2" value="{{ ficha.data_aplicada|date:'Y-m-d' }}"></a>
        </p>
      </div>
      <table>
        <thead>
            <tr>
                <th>#</th>
                <th>Produto</th>
                <th>Dose por HÁ</th>
                <th>Setor A</th>
                <th>Setor B</th>
                <th>Anti Câmara</th>
                <th>Consumo Previsto</th>
                <th>Consumo Total</th>
            </tr>
        </thead>
        <tbody>
          {% for ficha in ficha.dados %}
            <tr>
              <td>{{ forloop.counter }}</td>
              <td>
                <select class="campo-selecao">
                  <option value="{{ ficha.produto|default:'' }}">{{ ficha.produto|default:'' }}</option>
                  {% for produto in produtos %}
                    <option value={{ produto.produto }}>{{ produto.produto }}</option>
                  {% endfor %}
                </select>
              </td>
              <td><input type="number" id="dose_{{ forloop.counter }}" value = {{ ficha.dose|default:'' }}></td>
              <td><input type="number" id="campo1_{{ forloop.counter }}" name="campo1_{{ forloop.counter }}" value = {{ ficha.campo1|default:'' }} readonly></td>
              <td><input type="number" id="campo2_{{ forloop.counter }}" name="campo2_{{ forloop.counter }}" value = {{ ficha.campo2|default:'' }} readonly></td>
              <td><input type="number" id="anti_camara_{{ forloop.counter }}" name="anti_camara_{{ forloop.counter }}" value = {{ ficha.antiCamara|default:'' }} readonly></td>
              <td><input type="number" id="previsto_{{ forloop.counter }}" name="previsto_{{ forloop.counter }}" value = {{ ficha.previsto|default:'' }} readonly></td>
              <td><input type="number" id="total_{{ forloop.counter }}" value = {{ ficha.total|default:'' }}></td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
      <button id="enviarDados" type="submit" class="btn btn-primary btn-sm">Salvar</button>
    </form>
    <a href="{% url "ficha_list"%}" class="btn btn-secondary btn-sm"> Voltar</a>
    <!-- Conteúdo da página continua aqui -->
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script defer>
    document.addEventListener('DOMContentLoaded', function () {
      var areaInput = document.getElementById('id_area');
      var tipoIrrigadorInput = document.getElementById('id_tipo_irrigador');

      var camposDinamicos = document.querySelectorAll('[id^="campo1_"]');

      // Adiciona um ouvinte de evento para o campo de área
      areaInput.addEventListener('input', function () {
        atualizarCampos(camposDinamicos);
      });

      // Adiciona um ouvinte de evento para o campo tipo_irrigador
      tipoIrrigadorInput.addEventListener('change', function () {
        atualizarCampos(camposDinamicos);
      });

      camposDinamicos.forEach(function (campo) {
      var indice = campo.id.split('_')[1];

      // Adiciona um ouvinte de evento para cada campo "dose_"
      var doseInput = document.getElementById('dose_' + indice);
        doseInput.addEventListener('input', function () {
          atualizarCampos(camposDinamicos);
        });
      });

      function atualizarCampos(camposDinamicos) {
        // Obtenha o valor da área
        var area = parseFloat(areaInput.value) || 0;
        var tipoIrrigador = tipoIrrigadorInput.value;

        if (tipoIrrigador === '1') {
          camposDinamicos.forEach(function (campo) {
            // Extraia o índice do ID (por exemplo, campo1_1, campo1_2, etc.)
            var indice = campo.id.split('_')[1];
            if(document.getElementById('dose_' + indice).value){

            var valorCampo1 = area * indice; //exemplo de cálculo
            var valorCampo2 = area * 2 * indice;

            // Atualize os campos de entrada com os valores calculados
            campo.value = valorCampo1;
            document.getElementById('campo2_' + indice).value = valorCampo2;
            document.getElementById('anti_camara_' + indice).value = "-";

            }
          });
        } else {
          console.log(tipoIrrigador)
          camposDinamicos.forEach(function (campo) {
            // Extraia o índice do ID (por exemplo, campo1_1, campo1_2, etc.)
            var indice = campo.id.split('_')[1];
            if(document.getElementById('dose_' + indice).value){

            var valorAntiCamara = area * 0.8 * indice;  // Exemplo de cálculo para anti_camara

            // Atualize o campo anti_camara com o valor calculado
            document.getElementById('anti_camara_' + indice).value = valorAntiCamara;
            campo.value = '-';
            document.getElementById('campo2_' + indice).value = '-';

            }
          });
        }
        
      }
    });
    </script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script defer>
      document.addEventListener('DOMContentLoaded', function () {
        $('#enviarDados').on('click', function () {
          // Crie um array para armazenar os dados das linhas preenchidas da tabela
          var dados_tabela = [];

          // Itere sobre as linhas da tabela
          $('table tbody tr').each(function () {
            var linha = $(this);

            // Colete os valores dos campos na linha atual
            var produto = linha.find('select').val();
            var dose = linha.find('input[id^="dose_"]').val();
            var campo1 = linha.find('input[id^="campo1_"]').val();
            var campo2 = linha.find('input[id^="campo2_"]').val();
            var antiCamara = linha.find('input[id^="anti_camara_"]').val();
            var previsto = linha.find('input[id^="previsto_"]').val();
            var total = linha.find('input[id^="total_"]').val();

            // Adicione os dados da linha ao array
            if (produto || dose || total) {
                // Adicione os dados da linha ao array
                dados_tabela.push({
                    produto: produto,
                    dose: dose,
                    campo1: campo1,
                    campo2: campo2,
                    antiCamara: antiCamara,
                    previsto: previsto,
                    total: total
                });
            }
          });

          // Colete os valores das quatro variáveis
          var atividade_id = $('#id_atividade option:selected').val();
          var estufa_id = $('#id_estufa option:selected').val();
          var area = $('#id_area').val();
          var irrigador_id = $('#id_tipo_irrigador option:selected').val();
          var data1 = $('#data1').val();
          var data2 = $('#data2').val();
          var ficha_pk = $('#id_da_sua_ficha').val();

          // Crie um objeto de dados com as quatro variáveis e a tabela
          var dados = {
            ficha_pk: ficha_pk,
            atividade_id: atividade_id,
            estufa_id: estufa_id,
            area: area,
            irrigador_id: irrigador_id,
            dados_tabela: dados_tabela,
            data1: data1,
            data2: data2,
          };

          // Envie os dados via AJAX
          $.ajax({
            url: "{% url 'receber_dados' %}",
            type: 'put',
            data: JSON.stringify(dados),
            contentType: 'application/json',
            dataType: 'json',
            success: function(data){
              console.log(data);
              window.location.reload(true);
            },
            error: function (error) {
              console.error(error);
              // Adicione lógica para lidar com erros, se necessário
            }
          });
        });
      });
    </script>
  </body>

{% endblock content %}